.cell {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: hsl(var(--sc));
	}

	&.cell-border-top {
		border-top: 1px solid;
	}
	&.cell-border-right {
		border-right: 1px solid;
	}
	&.cell-border-left {
		border-left: 1px solid;
	}
	&.cell-border-bottom {
		border-bottom: 1px solid;
	}
}
