.cell {
	height: 40px;
	width: 40px;
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: hsl(var(--sc));
	}
}

.cell-text {
	font-size: 14px;
}
